{% extends "base.html.twig" %}

{% block title %}Delete repository{% endblock %}

{% block content %}
    <h2>
        Delete repository ?
    </h2>

    {{ form_start(form, {
        action: path('repository_delete', {'repository': repository.id }),
        method: 'DELETE',
        attr: {'onsubmit': 'return confirm("Are you sure?");'}
    }) }}
    <button class="btn btn-danger">Delete</button>

    {{ form_end(form) }}

    <a href="{{ path('admin') }}" class="btn btn-large btn-block btn-inverse" >Cancel</a>
{% endblock %}
